:root {
  --primary-color: #FFABAB;
  --secondary-color: #F089B7;
  --accent-color: #8077B6;
  --black: #3C2F3A;
  --white: #FFFFFF;
  --bg-color: #FEF8F4;
  --font-family: 'Inter', sans-serif;
  --font-size: 100%;
  
}

h1 {
  font-size: 2.586rem;
  font-family: var(--font-family);

}
h2 {
  font-size: 2.488rem;
  font-family: var(--font-family);
}
h3 {
  font-size: 2.074rem;
  font-family: var(--font-family);
}
h4 {
  font-size: 1.728rem;
  font-family: var(--font-family);
}
h5 {
  font-size: 1.44rem;
  font-family: var(--font-family);
} 
h6 {
  font-size: 1.2rem;
  font-family: var(--font-family);
}
p {
  font-size: 1rem;
  font-family: var(--font-family);

}
small {
  font-size: 0.833rem;
  font-family: var(--font-family);
}

/* @media (max-width: 425px) {
  :root {
    font-size: 90%;
  }
}
@media (max-width: 768px) {
  :root {
    font-size: 95%;
  }
} */

/* navigation */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: black solid 1px;
    padding: 20px;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style: none;
}